<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Level of logging required - override with -Dlog.level=... to see more -->
  <property name="LOG_LEVEL" value="${log.level:-INFO}"/>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>target/kafka-pod-autoscaler-its.log</file>
    <append>false</append>
    <encoder class="co.elastic.logging.logback.EcsEncoder">
      <serviceName>kafka-pod-autoscaler-its</serviceName>
    </encoder>
  </appender>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{HH:mm:ss.SSS} [%thread][%mdc] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>${LOG_LEVEL}</level>
    </filter>
  </appender>

  <logger name="com.brandwatch" level="DEBUG" />

  <root level="${LOG_LEVEL}">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>
